In [12]:
print("hello Worldly people")

hello Worldly people

In [9]:
%%sh
aql 
select * from test.testset
exit

Seed:         127.0.0.1
User:         None
Config File:  /etc/aerospike/astools.conf /home/training/.aerospike/astools.conf
Aerospike Query Client
Version 6.1.0
Copyright 2012-2021 Aerospike. All rights reserved.
aql> select * from test.testset
0 rows in set (0.060 secs)

OK

aql> exit

C Client Version 5.2.3

In [13]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Python 
- for syntax

In [14]:
for x in range(6):
    y = x + 5
    print(y)

5
6
7
8
9
10

In [15]:
%pwd

'/home/training/student-workbook/spike-a-thon'

In [10]:
%%sh
aql -f "insert.aql"

INSERT INTO test.testset (PK, name, age) VALUES ('key1', 'Jack', 26)
OK, 1 record affected.

INSERT INTO test.testset (PK, name, age) VALUES ('key2', 'Jill', 20)
OK, 1 record affected.

INSERT INTO test.testset (PK, name, age) VALUES ('key3', 'James', 38)
OK, 1 record affected.

INSERT INTO test.testset (PK, name, age) VALUES ('key4', 'Jim', 46)
OK, 1 record affected.

INSERT INTO test.testset (PK, name, age) VALUES ('key5', 'Julia', 62)
OK, 1 record affected.

INSERT INTO test.testset (PK, name, age) VALUES ('key6', 'Sally', 32)
OK, 1 record affected.

INSERT INTO test.testset (PK, name, age) VALUES ('key7', 'Sean', 24)
OK, 1 record affected.

INSERT INTO test.testset (PK, name, age) VALUES ('key8', 'Sam', 12)
OK, 1 record affected.

INSERT INTO test.testset (PK, name, age) VALUES ('key9', 'Susan', 42)
OK, 1 record affected.

INSERT INTO test.testset (PK, name, age) VALUES ('key0', 'Sandra', 34)
OK, 1 record affected.

In [8]:
%%sh
aql
select * from test.testset
exit

Seed:         127.0.0.1
User:         None
Config File:  /etc/aerospike/astools.conf /home/training/.aerospike/astools.conf
Aerospike Query Client
Version 6.1.0
Copyright 2012-2021 Aerospike. All rights reserved.
aql> select * from test.testset
0 rows in set (0.062 secs)

OK

aql> exit

C Client Version 5.2.3

In [18]:
%%sh
aql -f "delete.aql"

DELETE FROM test.testset WHERE PK =  'key1'
OK, 1 record affected.

DELETE FROM test.testset WHERE PK =  'key2'
OK, 1 record affected.

DELETE FROM test.testset WHERE PK =  'key3'
OK, 1 record affected.

DELETE FROM test.testset WHERE PK =  'key4'
OK, 1 record affected.

DELETE FROM test.testset WHERE PK =  'key5'
OK, 1 record affected.

DELETE FROM test.testset WHERE PK =  'key6'
OK, 1 record affected.

DELETE FROM test.testset WHERE PK =  'key7'
OK, 1 record affected.

DELETE FROM test.testset WHERE PK =  'key8'
OK, 1 record affected.

DELETE FROM test.testset WHERE PK =  'key9'
OK, 1 record affected.

DELETE FROM test.testset WHERE PK =  'key0'
OK, 1 record affected.

In [19]:
%%sh
aql
select * from test.testset
exit

Seed:         127.0.0.1
User:         None
Config File:  /etc/aerospike/astools.conf /home/training/.aerospike/astools.conf
Aerospike Query Client
Version 6.1.0
Copyright 2012-2021 Aerospike. All rights reserved.
aql> select * from test.testset
0 rows in set (0.062 secs)

OK

aql> exit

C Client Version 5.2.3